**Imma try to encode objects and fills null values**

In [7]:
import pandas as pd
import numpy as np
import statistics
from sklearn.preprocessing import StandardScaler, LabelEncoder
import warnings
from bayes_opt import BayesianOptimization
from lightgbm import LGBMClassifier
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import cross_val_score as cvs

In [8]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [9]:
train.info()
train.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11153 entries, 0 to 11152
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job_level                              11153 non-null  object
 1   job_duration_in_current_job_level      11153 non-null  float64
 2   person_level                           11153 non-null  object
 3   job_duration_in_current_person_level   11153 non-null  float64
 4   job_duration_in_current_branch         11153 non-null  float64
 5   Employee_type                          11153 non-null  object
 6   gender                                 11153 non-null  int64
 7   age                                    11153 non-null  int64
 8   marital_status_maried(Y/N)             11153 non-null  object
 9   number_of_dependences                  11153 non-null  int64
 10  Education_level                        11153 non-null  object
 11  GPA                                    11153 non-null  float64
 12  year_graduated                         11153 non-null  int64
 13  job_duration_from_training             11153 non-null  int64
 14  branch_rotation                        11153 non-null  int64
 15  job_rotation                           11153 non-null  int64
 16  assign_of_otherposition                11153 non-null  int64
 17  annual leave                           11153 non-null  int64
 18  sick_leaves                            11153 non-null  int64
 19  Last_achievement_%                     11152 non-null  float64
 20  Achievement_above_100%_during3quartal  11152 non-null  float64
 21  Best Performance                       11153 non-null  int64
dtypes: float64(6), int64(11), object(5)
memory usage: 1.9+ MB

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,JG04,1.352775,PG03,1.352775,1.732051,RM_type_A,2,1985,Y,1,...,2011,4,2,3,2,3,0,46.37,0.0,0
1,JG04,1.292285,PG03,1.292285,1.039230,RM_type_A,2,1989,Y,0,...,2007,4,4,3,0,0,1,47.68,0.0,0
2,JG05,2.565151,PG06,2.308679,1.780449,RM_type_C,1,1970,Y,1,...,1989,28,10,9,6,2,1,40.73,0.0,0
3,JG05,2.828427,PG06,1.000000,1.385641,RM_type_A,2,1967,Y,2,...,1987,29,11,6,0,4,10,47.42,0.0,1
4,JG05,2.828427,PG06,2.828427,0.707107,RM_type_A,2,1965,Y,3,...,1985,30,9,8,2,3,0,47.18,0.0,0
5,JG05,2.828427,PG06,2.121320,1.118034,RM_type_A,1,1971,Y,3,...,1990,28,7,9,4,0,0,48.46,0.0,0
6,JG05,2.828427,PG06,2.345208,2.102380,RM_type_A,1,1969,Y,2,...,1988,29,8,6,2,8,0,60.38,0.0,0
7,JG05,2.828427,PG06,2.236068,1.581139,RM_type_C,2,1968,Y,2,...,1987,29,6,8,1,3,4,14.71,0.0,0
8,JG04,1.118034,PG03,1.118034,0.412311,RM_type_B,1,1989,Y,0,...,2007,3,2,2,0,9,0,26.76,0.0,0
9,JG04,1.118034,PG03,1.118034,0.412311,RM_type_B,2,1991,N,0,...,2009,3,2,2,0,3,0,41.45,0.0,1

In [10]:
test.info()
test.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job_level                              6000 non-null   object
 1   job_duration_in_current_job_level      6000 non-null   float64
 2   person_level                           6000 non-null   object
 3   job_duration_in_current_person_level   6000 non-null   float64
 4   job_duration_in_current_branch         6000 non-null   float64
 5   Employee_type                          6000 non-null   object
 6   gender                                 6000 non-null   int64
 7   age                                    6000 non-null   int64
 8   marital_status_maried(Y/N)             6000 non-null   object
 9   number_of_dependences                  6000 non-null   int64
 10  Education_level                        6000 non-null   object
 11  GPA                                    6000 non-null   float64
 12  year_graduated                         6000 non-null   int64
 13  job_duration_from_training             6000 non-null   int64
 14  branch_rotation                        6000 non-null   int64
 15  job_rotation                           6000 non-null   int64
 16  assign_of_otherposition                6000 non-null   int64
 17  annual leave                           6000 non-null   int64
 18  sick_leaves                            6000 non-null   int64
 19  Last_achievement_%                     6000 non-null   float64
 20  Achievement_above_100%_during3quartal  6000 non-null   float64
dtypes: float64(6), int64(10), object(5)
memory usage: 984.5+ KB

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,GPA,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal
0,JG04,1.256981,PG03,1.256981,0.707107,RM_type_A,1,1988,N,0,...,3.08,2009,6,4,2,6,3,7,84.02,0.0
1,JG04,1.224745,PG03,1.224745,1.256981,RM_type_B,2,1991,N,0,...,3.31,2014,2,2,2,0,1,0,63.74,0.0
2,JG04,0.500000,PG03,0.500000,1.081665,RM_type_A,2,1989,Y,1,...,3.44,2011,4,2,2,0,2,1,88.19,1.0
3,JG04,1.256981,PG03,1.256981,1.802776,RM_type_A,2,1990,Y,1,...,0.00,2014,3,1,3,0,3,0,25.94,0.0
4,JG04,1.352775,PG03,1.352775,1.224745,RM_type_B,1,1985,Y,0,...,3.34,2007,5,3,2,0,3,0,82.32,0.0
5,JG04,1.081665,PG03,1.081665,1.581139,RM_type_B,2,1990,Y,0,...,3.33,2011,6,5,4,0,3,0,72.10,0.0
6,JG04,2.723968,PG04,2.000000,1.385641,RM_type_A,2,1982,Y,2,...,3.07,2004,7,3,4,3,0,1,35.58,0.0
7,JG04,1.352775,PG03,1.352775,1.322876,RM_type_A,2,1983,Y,3,...,2.49,2007,5,3,4,0,0,0,26.49,0.0
8,JG04,1.256981,PG03,1.256981,0.707107,RM_type_B,2,1988,Y,0,...,0.00,2012,4,3,2,0,5,4,68.09,0.0
9,JG04,1.118034,PG03,1.118034,1.581139,RM_type_B,2,1993,N,0,...,0.00,2015,3,1,2,0,2,0,70.53,0.0

In [11]:
#set age
train['age'] = 2021 - train['age']
test['age'] = 2021 - test['age']
train.loc[0:10, "age"]

0     36
1     32
2     51
3     54
4     56
5     50
6     52
7     53
8     32
9     30
10    55
Name: age, dtype: int64

In [12]:
train["year_graduated"] = 2021 - train["year_graduated"]
test["year_graduated"] = 2021 - test["year_graduated"]
train["year_graduated"].head(25)

0     10
1     14
2     32
3     34
4     36
5     31
6     33
7     34
8     14
9     12
10    36
11    14
12    10
13    22
14    29
15    12
16    13
17    12
18     9
19     8
20    32
21    12
22    33
23    38
24    12
Name: year_graduated, dtype: int64

In [13]:
#Fill Last_achievement_%
la_mean = train["Last_achievement_%"].mean()
la_median = train["Last_achievement_%"].median()
la_mode = statistics.mode(train["Last_achievement_%"].dropna())
print(la_mean, la_median, la_mode)
train["Last_achievement_%"] = train["Last_achievement_%"].replace(np.NaN, la_mean)

72.23490225968477 71.67500000000001 13.0

In [14]:
train["Last_achievement_%"].isnull().sum()

0

In [15]:
#Fill Achievement_above_100%_during3quartal
aa_mean = train["Achievement_above_100%_during3quartal"].mean()
aa_median = train["Achievement_above_100%_during3quartal"].median()
aa_mode = statistics.mode(train["Achievement_above_100%_during3quartal"].dropna())
print(aa_mean, aa_median, aa_mode)
train["Achievement_above_100%_during3quartal"] = train["Achievement_above_100%_during3quartal"].replace(np.NaN, aa_median)

0.679071018651363 0.0 0.0

In [16]:
train["Achievement_above_100%_during3quartal"].isnull().sum()

0

In [17]:
#Object data type treatment
le = LabelEncoder()
#every cols
obj_cols = ['job_level', 'person_level', 'Employee_type', 'marital_status_maried(Y/N)', 'Education_level']
for col in obj_cols:
    labels = train[col].unique().tolist() + test[col].unique().tolist()
    le.fit(labels)
    test[col] = le.transform(test[col].astype(str))
    train[col] = le.transform(train[col].astype(str))
    print(list(le.classes_))

['JG03', 'JG04', 'JG05', 'JG06']
['PG01', 'PG02', 'PG03', 'PG04', 'PG05', 'PG06', 'PG07', 'PG08']
['RM_type_A', 'RM_type_B', 'RM_type_C']
['N', 'Y']
['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5']

In [19]:
X = train.drop('Best Performance', axis = 1)
y = train['Best Performance']
model = xgb.XGBRFClassifier(n_estimators=1000, random_state=1245)
score = cvs(model, X, y, cv=5, scoring="roc_auc", n_jobs=-1)
print("XGB ROC-AUC Mean Score: ", np.mean(score))

XGB ROC-AUC Mean Score:  0.5717966180839674

In [21]:
warnings.filterwarnings('ignore')

dtrain = xgb.DMatrix(X, y, feature_names=X.columns.values)
def hyp_xgb(max_depth, subsample, colsample_bytree,min_child_weight, gamma, learning_rate):
    params = {
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'nthread':-1
     }
    
    params['max_depth'] = int(round(max_depth))
    params['subsample'] = max(min(subsample, 1), 0)
    params['colsample_bytree'] = max(min(colsample_bytree, 1), 0)
    params['min_child_weight'] = int(min_child_weight)
    params['gamma'] = max(gamma, 0)
    params['learning_rate'] = learning_rate
    
    scores = xgb.cv(params, dtrain, num_boost_round=500,verbose_eval=False, 
                    early_stopping_rounds=10, nfold=5)
    return scores['test-auc-mean'].iloc[-1]

pds ={
  'min_child_weight':(3, 20),
  'gamma':(0, 10),
  'subsample':(0.5, 1),
  'colsample_bytree':(0.1, 1),
  'max_depth': (2, 15),
  'learning_rate': (0.01, 0.5)
}

In [22]:
optimizer = BayesianOptimization(hyp_xgb, pds, random_state=1)
optimizer.maximize(init_points=4, n_iter=25)

|   iter    |  target   | colsam... |   gamma   | learni... | max_depth | min_ch... | subsample |
-------------------------------------------------------------------------------------------------
|  1        |  0.571    |  0.4753   |  7.203    |  0.01006  |  5.93     |  5.495    |  0.5462   |
|  2        |  0.5664   |  0.2676   |  3.456    |  0.2044   |  9.005    |  10.13    |  0.8426   |
|  3        |  0.5682   |  0.284    |  8.781    |  0.02342  |  10.72    |  10.09    |  0.7793   |
|  4        |  0.556    |  0.2263   |  1.981    |  0.4024   |  14.59    |  8.328    |  0.8462   |
|  5        |  0.5665   |  0.1307   |  7.013    |  0.0633   |  6.795    |  6.44     |  0.5915   |
|  6        |  0.58     |  0.8237   |  7.004    |  0.1256   |  4.688    |  4.311    |  0.6889   |
|  7        |  0.5779   |  1.0      |  7.354    |  0.1073   |  2.758    |  3.0      |  0.6247   |
|  8        |  0.5761   |  1.0      |  4.298    |  0.5      |  4.224    |  3.0      |  1.0      |
|  9        |  0.5759   |  1.0      |  5.926    |  0.5      |  2.0      |  6.05     |  1.0      |
|  10       |  0.5583   |  1.0      |  10.0     |  0.5      |  2.683    |  5.181    |  1.0      |
|  11       |  0.58     |  1.0      |  6.651    |  0.5      |  5.963    |  3.0      |  1.0      |
|  12       |  0.5728   |  1.0      |  1.44     |  0.01     |  2.0      |  7.194    |  0.5      |
|  13       |  0.5756   |  0.4901   |  0.2507   |  0.08293  |  2.398    |  19.92    |  0.5825   |
|  14       |  0.5801   |  0.9288   |  4.855    |  0.1977   |  2.0      |  20.0     |  0.6771   |
|  15       |  0.5799   |  1.0      |  4.399    |  0.5      |  5.542    |  20.0     |  1.0      |
|  16       |  0.5734   |  0.4934   |  8.216    |  0.2672   |  4.218    |  20.0     |  0.6516   |
|  17       |  0.5781   |  1.0      |  3.76     |  0.5      |  3.451    |  16.8     |  1.0      |
|  18       |  0.5788   |  1.0      |  0.985    |  0.01     |  7.893    |  19.65    |  0.8218   |
|  19       |  0.577    |  1.0      |  4.595    |  0.5      |  10.37    |  20.0     |  1.0      |
|  20       |  0.5842   |  0.7737   |  0.3431   |  0.1273   |  12.91    |  19.66    |  0.7709   |
|  21       |  0.5559   |  0.1      |  2.471    |  0.5      |  15.0     |  20.0     |  0.5      |
|  22       |  0.5674   |  1.0      |  0.0      |  0.01     |  11.01    |  19.26    |  1.0      |
|  23       |  0.5646   |  0.2043   |  0.3467   |  0.09557  |  13.14    |  18.81    |  0.9189   |
|  24       |  0.5737   |  0.4651   |  7.331    |  0.4297   |  14.88    |  17.53    |  0.6249   |
|  25       |  0.5864   |  0.9549   |  0.2027   |  0.03691  |  12.95    |  19.58    |  0.7352   |
|  26       |  0.5823   |  0.976    |  0.2832   |  0.2886   |  13.69    |  19.82    |  0.8654   |
|  27       |  0.5833   |  0.8786   |  0.07558  |  0.2003   |  12.5     |  19.91    |  0.6748   |
|  28       |  0.583    |  1.0      |  6.621    |  0.3371   |  4.497    |  3.029    |  0.8479   |
|  29       |  0.5641   |  0.1401   |  5.947    |  0.1189   |  4.64     |  3.852    |  0.7045   |
=================================================================================================

In [23]:
optimizer.max['params']

{'colsample_bytree': 0.9548842927260913,
 'gamma': 0.2027156134070207,
 'learning_rate': 0.03691008545891213,
 'max_depth': 12.945805092270126,
 'min_child_weight': 19.575340276597952,
 'subsample': 0.7351913053596237}

In [25]:
params = {
    'colsample_bytree': 0.9548842927260913,
    'gamma': 0.2027156134070207,
    'learning_rate': 0.03691008545891213,
    'max_depth': 13,
    'min_child_weight': 19.575340276597952,
    'subsample': 0.7351913053596237,
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'n_jobs':-1
}

xgbr =  xgb.XGBClassifier(**params, random_state=12345, nthread=-1)
xgbr.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.9548842927260913,
              eval_metric='auc', gamma=0.2027156134070207, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.03691008545891213, max_delta_step=0, max_depth=13,
              min_child_weight=19.575340276597952, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=-1,
              nthread=-1, num_parallel_tree=1, random_state=12345, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=0.7351913053596237,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [26]:
pred = xgbr.predict_proba(test)[:,1]

In [27]:
print(pred)

[0.15023033 0.19057709 0.36439028 ... 0.27449328 0.13966958 0.12575234]

In [28]:
submission = pd.read_csv("sample_submission.csv")
submission['Best Performance'] = pred

In [29]:
submission.to_csv('submitLGBM.csv', index = False)

In [30]:
submit = pd.read_csv("submitLGBM.csv")
submit

      index  Best Performance
0         0          0.150230
1         1          0.190577
2         2          0.364390
3         3          0.126049
4         4          0.105984
...     ...               ...
5995   5995          0.208840
5996   5996          0.125823
5997   5997          0.274493
5998   5998          0.139670
5999   5999          0.125752

[6000 rows x 2 columns]

In [34]:
submit.tail(50)

      index  Best Performance
5950   5950          0.071453
5951   5951          0.140221
5952   5952          0.162933
5953   5953          0.162884
5954   5954          0.108360
5955   5955          0.157253
5956   5956          0.166692
5957   5957          0.182090
5958   5958          0.125779
5959   5959          0.118223
5960   5960          0.140152
5961   5961          0.108720
5962   5962          0.116529
5963   5963          0.132184
5964   5964          0.119988
5965   5965          0.121653
5966   5966          0.131649
5967   5967          0.105686
5968   5968          0.146415
5969   5969          0.150161
5970   5970          0.136962
5971   5971          0.068559
5972   5972          0.066780
5973   5973          0.178783
5974   5974          0.151102
5975   5975          0.166795
5976   5976          0.144819
5977   5977          0.263456
5978   5978          0.143038
5979   5979          0.115774
5980   5980          0.221272
5981   5981          0.155329
5982   5982          0.095860
5983   5983          0.108525
5984   5984          0.068482
5985   5985          0.099243
5986   5986          0.112560
5987   5987          0.146297
5988   5988          0.086466
5989   5989          0.087964
5990   5990          0.103891
5991   5991          0.194789
5992   5992          0.324883
5993   5993          0.138376
5994   5994          0.117323
5995   5995          0.208840
5996   5996          0.125823
5997   5997          0.274493
5998   5998          0.139670
5999   5999          0.125752